<h2><%= @user.name %></h2>

<p><%= @user.bio %></p>


<h3>Upcoming Shows</h3>
<% Show.all.each do |show| %>


<% if show.artist_id == @user.id && show.start_time > Time.now %>
<a href="/shows/<%= show.id %>"><%= show.name %></a>
<% end %>
<% end %>

<h3>Past Shows</h3>
<% Show.all.each do |show| %>

<% if show.artist_id == @user.id && show.start_time < Time.now %>
<a href="/shows/<%= show.id %>"><%= show.name %></a>
<% end %>
<% end %>