<h2><%= @user.name %></h2>

<p><%= @user.bio %></p>

<h3>Shows I'm Going To</h3>
<% Show.all.each do |show| %>
<% if show.fans.include?(@user) && show.start_time > Time.now %>
	<a href="/shows/<%= show.id %>"><%= show.name %></a>
<% end %>
<% end %>

<h3>Shows I've Been To</h3>
<% Show.all.each do |show| %>

<% if show.fans.include?(@user) && show.start_time < Time.now %>
	<a href="/shows/<%= show.id %>"><%= show.name %></a>
<% end %>
<% end %>