<h2><%= @user.name %></h2>

<p><%= @user.bio %></p>

<h3>Shows I'm Going To</h3>
<% future_shows.each do |show| %>
<% if show.fans.include?(@user) %>
	<a href="/shows/<%= show.id %>"><%= show.name %></a>
<p><%= show.venue.name %></p> 
<p><%= show.start_time.strftime("%B %d") %></p>
<% end %>
<% end %>

<h3>Shows I've Been To</h3>
<% past_shows.each do |show| %>

<% if show.fans.include?(@user) %>
	<a href="/shows/<%= show.id %>"><%= show.name %></a>
	<p><%= show.venue.name %></p> 
<p><%= show.start_time.strftime("%B %d, %Y") %></p>

<% end %>
<% end %>