<h2><%= @user.name %></h2>

<h4>About me:</h4>
<p><%= @user.bio %></p><br>


<h4>Shows I'm Going To</h4>

<div class="row">
  <div class="col-sm-4"><h4>Show</h4></div>
  <div class="col-sm-4"><h4>Venue</h4></div>
  <div class="col-sm-4"><h4>Date</h4></div>
	<% future_shows.each do |show| %>
		<% if show.fans.include?(@user) %>
		<div class="col-sm-4"><a href="/shows/<%= show.id %>"><%= show.name %></a></div>
		<div class="col-sm-4"><%= show.venue.name %></div>
		<% if show.start_time %>
			<div class="col-sm-4"><%= show.start_time.strftime("%B %d") %></div>
		<% else %>
			<div class="col-sm-4">TBA</div>
		<% end %>
		<% end %>
	<% end %>
</div>

<br><br>

<h4>Shows I've Been To</h4>

<div class="row">
  <div class="col-sm-4"><h4>Show</h4></div>
  <div class="col-sm-4"><h4>Venue</h4></div>
  <div class="col-sm-4"><h4>Date</h4></div>
	<% past_shows.each do |show| %>
		<% if show.fans.include?(@user) %>
		<div class="col-sm-4"><a href="/shows/<%= show.id %>"><%= show.name %></a></div>
		<div class="col-sm-4"><%= show.venue.name %></div>
		<% if show.start_time %>
			<div class="col-sm-4"><%= show.start_time.strftime("%B %d, %Y") %></div>
		<% else %>
			<div class="col-sm-4">TBA</div>
		<% end %>
		<% end %>
	<% end %>
</div>