<% if @show.venue_id == session[:id] %>

<form action="/shows/<%= @show.id %>" method="POST">
	<input id="hidden" type="hidden" name="_method" value="patch">
	<h3>Show name:</h3>
	<input type="text" name="name" value = "<%= @show.name %>">
	<h3>Artist: </h3>
	<select name="artist">
		<% Artist.all.each do |a| %>
		<% if a == @show.artist %>
		<option value="<%= a.id %>" selected><%= a.name %></option>
		<% else %>
		<option value="<%= a.id %>"><%= a.name %></option>
		<% end %>
		<% end %>
	</select>
	<h3>Price:</h3>
	<input type="text" name="price" value="<%= @show.price %>">
	<h3>Age:</h3>
	<input type="integer" name="age" value="<%= @show.age %>">
	<h3>Date</h3>
	<input type="date" name="date" value="<%= @show.start_time.to_s.split(" ")[0] %>">
	<h3>Time:</h3>
	<input type="time" name="time" value="<%= @show.start_time.to_s.split(" ")[1][0..4] %>">

	<input type="hidden" name="venue_id" value="<%= current_user.id %>">
	<input type="submit" value="Save changes">
</form>

<% else %>
<h3>You are not authorized to edit this show</h2>
<% end %>
