<h3><%= @show.name %></h3>
<h5>Artist: </h5>
<p><%= Artist.find(@show.artist_id).name %></p>
<h5>Ages: </h5>
<p><%= @show.age %></p>
<h5>Date: </h5>
<p><%= @show.start_time.strftime("%B %d, %Y") %></p>
<h5>Time: </h5>
<p><%= @show.start_time.strftime("%l:%M %p") %></p>
<br>

<h4>Who's Going?</h4>
<% if session[:type] == "Fan" %>
	<form action="/shows/add_fan" method="post">
		<button name="attending">I'm Going!</button>
		<input type="hidden" name="show_id" value="<%= @show.id %>">
	</form>
<% end %>
<% @show.fans.each do |fan| %>
<a href="/fans/<%= fan.slug %>"><%= fan.name %></a><br> 
<% end %>
