<h3>Welcome, <%= @user.username %></h3>

<% if @user.class.name == "Venue" %>
<a href="/venues/create_show">Create New Show</a>
<% end %>


<h4>Your Upcoming Shows</h4>

<div class="row">
  <div class="col-sm-6"><h5>Show</h5></div>
  <div class="col-sm-3"><h5>Date</h5></div>
	<% future_shows.each do |show| %>
		<% if show.venue_id == @user.id && session[:type] == "Venue" %>
			<div class="col-sm-6"><a href="/shows/<%= show.id %>"><%= show.name %></a></div>
			<div class="col-sm-3"><%= show.start_time.strftime("%B %d") %></div>
			<div class="col-sm-3"><a href="/shows/<%= show.id %>/edit">Edit Show</a></div>
		<% elsif show.fans.include?(@user) %>
			<div class="col-sm-6"><a href="/shows/<%= show.id %>"><%= show.name %></a></div>
			<div class="col-sm-3"><%= show.start_time.strftime("%B %d") %></div>
		<% elsif show.artist == @user %>
			<div class="col-sm-6"><a href="/shows/<%= show.id %>"><%= show.name %></a></div>
			<div class="col-sm-3"><%= show.start_time.strftime("%B %d") %></div>
		<% end %>
	<% end %>
</div>